<mat-card>
    <h1>INFORMACION</h1>
    <h2>¿Que es COVID-19?</h2>
    <div class="animated flip">
        <img src="../../../assets/que_es_covid-19.jpg" alt="">
        <p>La COVID‑19 es la enfermedad infecciosa causada por el coronavirus que se ha descubierto más recientemente. Tanto este nuevo virus como la enfermedad que provoca eran desconocidos antes de que estallara el brote en Wuhan (China) en diciembre de 2019. Actualmente la COVID‑19 es una pandemia que afecta a muchos países de todo el mundo.</p>

    </div>
    <mat-divider></mat-divider>
    <h2>Sintomas</h2>
    <p>Los síntomas más habituales de la COVID-19 son la fiebre, la tos seca y el cansancio. Otros síntomas menos frecuentes que afectan a algunos pacientes son los dolores y molestias, la congestión nasal, el dolor de cabeza, la conjuntivitis, el dolor de garganta, la diarrea, la pérdida del gusto o el olfato y las erupciones cutáneas o cambios de color en los dedos de las manos o los pies.</p>
    <img src="../../../assets/_111507472_g9sm6vjw.png" alt="">
    <mat-divider></mat-divider>
    
        <h2>Como podemos protegernos</h2>
        <p>Practicar la higiene respiratoria y de las manos es importante en TODO momento y la mejor forma de protegerse a sí mismo y a los demás. </p>
        <div class="protected">
            <img src="../../../assets/lavar-manos.jpg" alt="">
            <img src="../../../assets/infografia_tapabocas_mesa_de_trabajo_1.png" alt="">
        </div>

</mat-card>
